<table
    style="
        border-width: 1px;
        border-color: black;
        border-style: solid;
        width: 90%;
    "
>
    <tr>
        <td style="width: 5%">
            <!-- Added a 'div' for 'idPmtNbr' -->
            <div id="idPmtNbr"></div>
        </td>
        <td style="width: 10%" class="TextRight">
            <!-- Added a 'div' for 'idBeginningBalance' -->
            <div id="idBeginningBalance"></div>
        </td>
        <td style="width: 10%" class="TextRight">
            <!-- Added a 'div' for 'idScheduledPayment' -->
            <div id="idScheduledPayment"></div>
        </td>
        <td style="width: 10%" class="TextRight">
            <input type="text" id="idExtraPayment" />
        </td>
        <td style="width: 10%" class="TextRight">
            <div id="idTotalPayment"></div>
        </td>
        <td style="width: 10%" class="TextRight">
            <div id="idPrinciple"></div>
        </td>
        <td style="width: 10%" class="TextRight">
            <!-- Added a 'div' for 'idInterest' -->
            <div id="idInterest"></div>
        </td>
        <td style="width: 10%" class="TextRight">
            <div id="idEndingBalance"></div>
        </td>
        <td style="width: 10%" class="TextRight">
            <div id="idCummInterest"></div>
        </td>
    </tr>
</table>
